body{
    margin: 0;
    text-align: center;
}

hr{
    border-style: none none dotted;
    width: 5%;
    border-width: 10px;
    margin: 50px auto;
    color: #909e9e;
}
h1{
    font-size: 5rem;
    font-family: 'Dancing Script', cursive;
    margin: 50px auto 5px;
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-size: 250%;
    font-family: 'Roboto Mono', monospace;
    color: #11999E;
}

h3{
    font-size: 150%;
    font-family: 'Roboto Mono', monospace;
    color: #11999E;
}

a{
    font-size: 125%;
    color: #0e7275;
    margin: 10px;
    text-decoration: none;
}

a:hover{
    color: #ebece1;
}
.top-p{
    font-family: 'Roboto Mono', monospace;
    color: #66BFBF;
    font-weight: normal;
}

p{
    font-size: 110%;
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    padding-top: 100px;
    background-color: #F6F7C1;
    position: relative;
    font-size: 1.5rem;
}
.profile{
    width: 50%;
    margin: 100px auto;
}
#profile-pic{
    width: 50%;
}
.skills{
    font:100px;
}
.skill-row{
    width:50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.Busineass-analytics-gif{
    width: 40%;
    margin-left: 30px ;
    float: right;
}

.marketing-gif{
    width: 35%;
    margin-right: 30px ;
    float: left;
}

.bottom-cloud{
    position: absolute;
    top: 50%;
    right:60%;
}

.top-cloud{
    position: absolute;
    top: 10%;
    right:25%;
}

.middle-container{
    padding: 50px;
    background-color: #BEF0CB;
}
.bottom-container{
    line-height: 2;
    background-color: #C1AEFC;
    padding: 50px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background:  #30e3cb;
    background-image: -webkit-linear-gradient(top,  #30e3cb,  #2bc4ad);
    background-image: -moz-linear-gradient(top,  #30e3cb,  #2bc4ad);
    background-image: -ms-linear-gradient(top,  #30e3cb,  #2bc4ad);
    background-image: -o-linear-gradient(top,  #30e3cb,  #2bc4ad);
    background-image: linear-gradient(to bottom,  #30e3cb,  #2bc4ad);
    text-decoration: none;
  }
.copyright{
    font-size: 10px;
}
